@font-face {
  font-family: Dongle;
  src: url("./../assets/font/Dongle-Regular.ttf");
}

@font-face {
  font-family: Zen Kaku Gothic Antique;
  src: url("./../assets/font/ZenKakuGothicAntique-Regular.ttf");
}

h1,
h2 {
  font-family: Dongle-Regular;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 15px;
}

h3,
p {
  font-family: "Zen Kaku Gothic Antique";
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column--justifyContentCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.important {
  color: #f54748;
}

.card {
  height: 125px;
  width: 240px;
  background: #f6f7f8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em auto;
}

@media (min-width: 768px) {
  .card {
    height: 170px;
    width: 350px;
  }
}

@media (min-width: 1025px) {
  .card {
    height: 200px;
    width: 425px;
  }
}

.card__image {
  width: 100px;
}

@media (min-width: 768px) {
  .card__image {
    width: 150px;
  }
}

@media (min-width: 1025px) {
  .card__image {
    width: 175px;
  }
}

@media (min-width: 768px) {
  .card__title {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .card__title {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .card .card__details,
  .card .important {
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  .card .card__details,
  .card .important {
    font-size: 20px;
  }
}

.card__button {
  background-color: #f54748;
  color: #f54748;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -4.5em;
  border: none;
  margin-right: 0.5em;
  border: none;
}

.card__button__logo {
  width: 20px;
}

@media (min-width: 768px) {
  .card__button__logo {
    width: 22.5px;
  }
}

@media (min-width: 1025px) {
  .card__button__logo {
    width: 25px;
  }
}

.carousel--padding {
  padding-bottom: 5em;
}

@media (min-width: 1025px) {
  .carousel--padding {
    margin-left: 5rem;
  }
}

@media (min-width: 768px) {
  .carousel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.submeniu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1025px) {
  .submeniu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.submeniu__element {
  width: 32vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffad39;
  border-radius: 30px;
  margin-bottom: 1em;
}

@media (min-width: 768px) {
  .submeniu__element {
    width: 17.5vw;
  }
}

@media (min-width: 1025px) {
  .submeniu__element {
    width: 10vw;
    margin-right: 1em;
  }
}

.submeniu__element__image {
  width: 28px;
}

.submeniu__element__title {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #f6f7f8;
}

.submeniu__element--active {
  background-color: #b37e23;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f6f7f8;
  z-index: 999999;
}

.navbar__logo {
  width: 35px;
  color: black;
}

.navbar__logo--active {
  padding: 1em;
  background-color: #ffad39;
  border-radius: 100%;
}

.navbar__logo--active--witdh {
  padding: 0.5em;
}

.navbar__logo--width {
  width: 50px;
}

@media (min-width: 1025px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    margin-left: 5px;
    width: auto;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar__logo {
    margin-top: 3em;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f6f7f8;
}

.container__home {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7.5em;
}

@media (min-width: 1025px) {
  .container__home {
    padding-bottom: 0em;
    margin-left: 5em;
  }
}

.container__home .background {
  background-image: url(./../assets/Images/food.jpg);
  width: 100%;
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -99;
}

.container__home .background::after {
  content: "";
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f6f7f8;
  position: relative;
  bottom: -70%;
  border-radius: 100% 100% 0 0;
  z-index: -98;
}

@media (min-width: 1025px) {
  .container__home .background {
    height: 500px;
  }
}

.container__home .home__elements {
  margin-top: -10%;
  padding: 0 1em;
}

@media (min-width: 768px) {
  .container__home .home__elements {
    margin-top: -5%;
    padding: 0 2.5em;
  }
}

@media (min-width: 1025px) {
  .container__home .home__elements {
    margin-top: -5%;
    padding-bottom: 2.5em;
  }
}

.container__home .home__elements__title {
  text-align: center;
}

@media (min-width: 768px) {
  .container__home .home__elements__title {
    font-size: 60px;
  }
}

@media (min-width: 1025px) {
  .container__home .home__elements__title {
    font-size: 75px;
  }
}

.container__home .home__elements__description {
  padding-top: 5%;
  text-align: justify;
}

@media (min-width: 768px) {
  .container__home .home__elements__description {
    font-size: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 1025px) {
  .container__home .home__elements__description {
    font-size: 30px;
  }
}

.container__home .home__elements__subtitle {
  padding-top: 5%;
  text-align: left;
  padding-left: 5%;
}

@media (min-width: 768px) {
  .container__home .home__elements__subtitle {
    font-size: 30px;
  }
}

@media (min-width: 1025px) {
  .container__home .home__elements__subtitle {
    font-size: 45px;
  }
}

.container__event {
  padding-top: 2em;
}

.container__event .row__title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
}

.container__event .row__title .title {
  margin-left: auto;
  font-size: 35px;
}

@media (min-width: 768px) {
  .container__event .row__title .title {
    margin: auto;
    padding-left: 5em;
    font-size: 40px;
  }
}

@media (min-width: 1025px) {
  .container__event .row__title .title {
    font-size: 55px;
  }
}

.container__event .row__title .title__image {
  width: 150px;
  margin-left: 25px;
  padding-right: 1em;
}

.container__event .card__event {
  height: 20vh;
  width: 85%;
  margin: 1.5em auto;
  padding: 1em;
}

@media (min-width: 768px) {
  .container__event .card {
    width: 42.5%;
  }
}

.container__event .card__image {
  width: 150px;
}

@media (min-width: 1025px) {
  .container__event .card__image {
    width: 200px;
  }
}

.container__event .card__info {
  padding-left: 1em;
}

.container__event .card__title {
  font-size: 20px;
}

@media (min-width: 768px) {
  .container__event .card__title {
    font-size: 22.5px;
  }
}

@media (min-width: 1025px) {
  .container__event .card__title {
    font-size: 25px;
  }
}

.container__event .card__details {
  font-size: 12.5px;
}

@media (min-width: 768px) {
  .container__event .card__details {
    font-size: 14px;
  }
}

@media (min-width: 1025px) {
  .container__event .card__details {
    font-size: 20px;
    width: 25vw;
  }
}

.container__event .card .medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ffad39;
  margin-top: 1em;
}

@media (min-width: 768px) {
  .container__event .card .medium {
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  .container__event .card .medium {
    font-size: 17.5px;
  }
}

@media (min-width: 1025px) {
  .container__meniu {
    padding-left: 5em;
  }
}

.container__meniu .row__title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2em;
}

.container__meniu .row__title .title {
  margin-right: auto;
  font-size: 35px;
}

@media (min-width: 768px) {
  .container__meniu .row__title .title {
    margin: auto;
    padding-left: 5em;
    font-size: 40px;
  }
}

@media (min-width: 1025px) {
  .container__meniu .row__title .title {
    font-size: 55px;
    padding-left: 0;
  }
}

.container__meniu .row__title .title__image {
  width: 150px;
  margin-left: 25px;
  padding-right: 1em;
}

.food__elements {
  margin-bottom: 10em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.food__elements .card__food {
  width: 80vw;
  margin: 1em;
}

@media (min-width: 768px) {
  .food__elements .card__food {
    width: 30vw;
    height: 250px;
  }
}

@media (min-width: 1025px) {
  .food__elements .card__food {
    width: 17.5vw;
    height: 360px;
  }
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__title {
    font-size: 30px;
    width: 16vw;
  }
}

.food__elements .card__food .card__image {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__image {
    width: 200px;
  }
}

.food__elements .card__food .card__image--height {
  height: 100px;
  width: auto;
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__image--height {
    height: 150px;
  }
}

.food__elements .card__food .row .column--justifyContentCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1025px) {
  .food__elements .card__food .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.food__elements .card__food .card__subtitle {
  font-size: 12px;
  width: 100px;
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__subtitle {
    font-size: 120%;
    width: 16vw;
  }
}

.food__elements .card__food .card__button {
  display: none;
}

@media (min-width: 1025px) {
  .food__elements .card__food .card__button {
    margin-bottom: -8em;
  }
}

[id*="food-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1025px) {
  [id*="food-"] {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1025px) {
  .container__about {
    margin-left: 5vw;
  }
}

.container__about .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__about .row .title {
  font-size: 35px;
}

@media (min-width: 768px) {
  .container__about .row .title {
    font-size: 50px;
    margin: 0 auto;
  }
}

.container__about .row .title__image {
  width: 150px;
}

@media (min-width: 768px) {
  .container__about .row .title__image {
    width: 200px;
  }
}

.container__about .about__text {
  padding: 1em;
  margin-bottom: 30%;
  font-size: 20px;
  text-align: justify;
}

@media (min-width: 768px) {
  .container__about .about__text {
    font-size: 30px;
    margin-bottom: 10%;
  }
}

.container__about .about__audio {
  position: fixed;
  right: 0;
  top: 5%;
  width: 50px;
  height: 50px;
  padding: 3%;
  background-color: #ffad39;
  border-radius: 100% 0 0 100%;
}

@media (min-width: 1025px) {
  .container__about .about__audio {
    padding: 1%;
  }
}

.container__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .container__contact .row {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1025px) {
  .container__contact .row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.container__contact .row .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 768px) {
  .container__contact .row .title {
    font-size: 50px;
  }
}

@media (min-width: 1025px) {
  .container__contact .row .title {
    margin: 0 auto;
    padding-left: 10vw;
  }
}

.container__contact .row .title__image {
  width: 150px;
}

@media (min-width: 768px) {
  .container__contact .row .title__image {
    width: 200px;
  }
}

.container__contact .contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1025px) {
  .container__contact .contact__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.container__contact__map {
  padding-top: 1em;
  width: 90vw;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 768px) {
  .container__contact__map {
    width: 75vw;
  }
}

@media (min-width: 1025px) {
  .container__contact__map {
    width: 45vw;
    float: left;
  }
}

@media (min-width: 1025px) {
  .container__contact__map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.container__contact__info {
  padding-top: 1em;
  padding-bottom: 20%;
  width: 90vw;
}

@media (min-width: 768px) {
  .container__contact__info {
    width: 75vw;
  }
}

@media (min-width: 1025px) {
  .container__contact__info {
    width: 45vw;
  }
}

@media (min-width: 1025px) {
  .container__contact__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 5%;
  }
}

.container__contact__info .info__elements {
  font-size: 15px;
}

@media (min-width: 768px) {
  .container__contact__info .info__elements {
    font-size: 25px;
  }
}

@media (min-width: 1025px) {
  .container__contact__info .info__elements {
    font-size: 30px;
  }
}

.container__contact__info .info__elements .important {
  font-weight: bold;
  text-decoration: none;
}

.container__contact__info .info__elements .important:hover {
  color: #ffad39;
}
/*# sourceMappingURL=main.css.map */